SHOPIFY_API_VERSION=2025-10

DOMAIN_IORASG=
TOKEN_IORASG=

DOMAIN_IORAMY=
TOKEN_IORAMY=

DOMAIN_TRTSG=
TOKEN_TRTSG=

DOMAIN_TRTMY=
TOKEN_TRTMY=

DOMAIN_SANSSG=
TOKEN_SANSSG=

DOMAIN_SANSMY=
TOKEN_SANSMY=

DOMAIN_MONOSG=
TOKEN_MONOSG=

DOMAIN_MONOMY=
TOKEN_MONOMY=
